#x-chat-container0, #x-chat-input0, #x-chat-photo0, #front-container, #front-pic, #back-pic, .chosen-container, #main-menu {
  position: fixed;
}
#x-chat-container0 {
  bottom: 88px;
}
#x-chat-input0 {
  bottom: 44px;
}
#x-chat-input0, #front-container, #back-pic {
  width: 375px;
}
#x-chat-input0, #main-menu {
  height: 44px;
}
#x-chat-image0, #front-pic {
  width: inherit;
}
#x-chat-photo0 {
  bottom: 49px;
  right: 5px;
  width: 100px;
}
#x-chat_list-line0 {
  display: block;
}
#front-container {
  height: 526px;
  background: white;
  z-index: 1000;
}
#front-container, #back-pic {
  top: 97px;
}
#front-container, .chosen-container {
  overflow-y: hidden;
}
#back-pic {
  z-index: -100;
}
.chosen-container {
  z-index: 200;
  top: 22px;
  border: 3px;
  height: 75px;
}
.chosen-container, .chosen-box {
  width: 75px;
}
.chosen-box {
  background: rgba(255, 0, 0, 0.7);
}
#main-menu ul li, .main-menu {
  display: inline-block;
  width: 66px;
}
.main-menu {
  color: white;
  padding: 12px;
  text-align: center;
}
.main-menu:hover {
  background-color: rgba(255, 128, 128, 1);
}
.main-menu:focus {
  background-color: white;
}
#main-menu {
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(255, 0, 0, 1);
}
#main-menu ul {
  list-style-type: none;
  margin: 0;
  margin-left: 40px;
}
