public:
	collections: "Connects Items Updates Calendar User"
	remove_rules:
		'.nav > li > a:hover, .nav > li > a:focus': 'background-color'
		'.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus': 'background-color'	
title: "Getber"
theme: "clean"
lib_files: "accounts menu ui responsive"
other_files: []
public_files: 'utils.js uber.mp4 screen-bg2.png'
private: {}
screen_bg:
    backgroundImage:'url(/screen-bg4.png)'
shortens:
	'p': '/profile'
lander:
	hero: 'two-girls-getber.jpg'
